/* 
1399,98
1199,98
991,98
767,98
575,98 
*/


@media (max-width: 1988.98px){
    .header_logo{
        margin-right: 291px
    }
    .header_nav .container{
        flex-wrap: wrap ;
    }
    .catalog_left{
        margin-left: 20px;
    }
}


@media (max-width: 1199.98px){
    .catalog_items_list{ 
        flex-wrap: wrap;
    }
}
@media (max-width:991.98px){
    .contact_info{
        flex-direction: column;
        align-items: center;
        gap: 30px;
       
    }
    .catalog_items_list{ 
        flex-wrap: wrap;
        gap: 30px;
    }
    .about_content{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
       
    }
    .header_logo{
       margin-right: 0%; 
    }
    
}
@media (max-width:767.98px){
    .header_logo{
        display: flex;
        
    }
    .catalog_image{
        width: 100%;
    }
    
}
@media (max-width:699.98px){
.header_nav .container{
        padding: 33px 0;
    }
   
}
@media (max-width:575.98px){
    .header_intro-title{
        font-size: 40px;
    }
    .header_intro-text{
        font-size: 20px;
    }
    .header_intro_info{
        width: 150px;
        height: 40px;
        margin-top: 30px;
        font-size: 15px
    }
    .contact_info_right{
        width: auto;
    }
    
}
@media (max-width:375.98px){
    .header_logo{
    padding-right: 10px;
    padding-top: 5px;
}
.header_list{
    padding-left: 25px;
}
.footer_list{
    padding-left: 22px;
}
}

